
    
body{
    background-image: url(Coffee1.jpg);
    background-size: cover;
}
.Navbar{
    background-color: rgb(125, 119, 119);
    width: 830px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 550px
    
}
.Navbar ul{
    overflow: auto;
}
.Navbar li{
    float:left;
    list-style: none;
    margin: 15px 14px
    
    

}
.Navbar li a:hover{
    color: green;
}
.Navbar li a{
    padding: 15px 12px;
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.Search{
float: right;
color: white;
font-weight: 800;
padding-right: 100px;
padding-top: 10px;
}
.Navbar input{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}
#Coffee{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #1a1717;
}
.HeadPara{
    padding: 120px 0px 0px 50px;
}
#Start{
    color:#0e0e0e;


     
}

#Para{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;

}
.Navbar li a:active{
    color: red;
}
/* .Navbar li a:visited{
    color: yellow;
} */
